*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.musa {
  width: 100%;
  padding: 20px;
  display: grid;
  /* use grid minmax */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.musa > div {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}