* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: black;
    width: 100%;
    height: 60px;
    


}
.nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
;
    gap: 70px;
    padding-right: 70px;
    font-size: 20px;
    

}
.nav ul a {
    text-decoration: none;
    color: white;
    line-height: 41px;
    padding: 8px 20px;
    display: block;

   
    

}
.nav ul a:hover {
    background-color: blue;
    
}

.hero {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 50px;


    



}
.hero img {
    
    height: 300px;
    
    
}

.hero div h3 {
    font-size: 50px;
    margin-bottom: 10px;

}

.hero div p {
    width: 400px;
    font-size: 20px;
    

}

.hero div button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 45px;
    margin-left: 80px;

}

.team {
    
    
}
.team h1 {
    text-align: center;
    margin: 30px;
}
.team div {
    
}

.member {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50vh;
    gap: 20VH;
    

    
    
    
    
}

.member div {
     border: 1px solid #000;
     padding: 20px;
     border-radius: 8px;
     text-align: cente;
}

.member p {
    margin: 10px 0;
}

.member button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 10px;
}

.pricing h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    

   
}

.main {

    display: grid;
    grid-template-columns: repeat(4,300px);
    
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;

    

    

}

.footer{
    width: 100%;
    height: 50px;
    background-color: #000;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    
    
}
.footer p {
    
    
}

.header{
    color: aliceblue;
    align-items: start;
}

.main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h4 {
    display: flex;
    justify-content: center;
    align-items: center ;
}
.main div{
    border: 2px solid;
    border-radius: 20px;
    
}

.main div button{
     background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;


}
.main div h2{
    font-weight: 1000;
    font-size: 40px;
}

.main div h4 {
    font-size: 30px;
}
.main div p {
    text-align: center;
    margin: 20px;
}

.nav img {
    width: 50px;
    margin-right: 60vh
}


