@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// font-family: "Poppins", sans-serif;
// p color: rgb(5, 48, 33);
// h color: rgb(3, 76, 50);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(231, 255, 247);
}

// Header Start
#header {
  width: 80%;
  height: 60px;
  padding: 0px 40px;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  // border-bottom: 1px solid rgb(3, 76, 50);
  box-shadow: 1px 1px 5px rgb(3, 76, 50);

  .navigation {
    display: flex;
    align-items: center;
    > ul {
      display: flex;

      gap: 40px;
      > li {
        list-style: none;
        > a {
          font-size: 12px;
          text-decoration: none;
          color: white;
          background-color: rgb(7, 80, 55);
          padding: 2px 20px;
          border-radius: 16px;
          &:hover {
            color: rgb(7, 80, 55);
            background-color: white;
            border: 1px solid black;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    > img {
      width: 52px;
      height: 52px;
    }
  }
}
// Header End

// Hero Start
#hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 10px;
    width: 800px;
    height: 250px;

    > button {
      font-size: 12px;
      color: white;
      background-color: rgb(7, 80, 55);
      padding: 5px 20px;
      border: none;
      border-radius: 8px;

      &:hover {
        color: rgb(7, 80, 55);
        background-color: white;
        border: 1px solid black;
      }
    }

    > p {
      font-size: 12px;
      color: rgb(5, 48, 33);
    }

    > h1 {
      color: rgb(3, 76, 50);
      font-size: 36px;
    }
  }
  .image {
    > img {
      width: 300px;
      height: 300px;
    }
  }
}
// Hero End

// Price Start
#price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  justify-content: center;
  align-items: center;
  .head {
    > h1 {
      color: rgb(3, 76, 50);
    }
  }
  .team {
    display: flex;
    gap: 40px;
    .person {
      border: 1px solid rgb(5, 173, 114);
      background-color: white;
      box-shadow: 1px 1px 5px grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .text {
        width: 220px;
        height: 170px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > button {
          width: 80px;
          height: 20px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgb(7, 80, 55);
          border: none;
          border-radius: 8px;
          margin-top: 20px;

          &:hover {
            color: rgb(7, 80, 55);
            background-color: white;
            border: 1px solid black;
          }
        }

        .dollar {
          font-size: 14px;
          font-weight: bold;
          color: rgb(11, 87, 61);
        }

        > p {
          font-size: 10px;

          color: rgb(5, 48, 33);
        }
        > h2 {
          color: rgb(3, 76, 50);
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
// Price End

// Team Start
#team {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 625px;
  justify-content: center;
  align-items: center;
  .head {
    > h1 {
      color: rgb(3, 76, 50);
    }
  }
  .team {
    display: flex;
    gap: 40px;
    .person {
      border: 1px solid rgb(5, 173, 114);
      background-color: white;
      box-shadow: 1px 1px 5px grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .text {
        width: 220px;
        height: 170px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > p {
          font-size: 12px;
          padding-left: 10px;
          color: rgb(5, 48, 33);
        }
        > h2 {
          color: rgb(3, 76, 50);
          font-weight: bold;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}
// Team End

// end Start
#end {
  border-top: 1px solid grey;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .contact {
    width: 315px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    gap: 48px;

    > p {
      > a {
        font-size: 14px;
        text-decoration: none;
        color: rgb(5, 48, 33);
      }
    }
  }

  .social {
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      text-decoration: none;
      background-color: rgb(3, 76, 50);
      border: none;
      border-radius: 50px;
      color: white;
    }
  }
  .copy{
    > p {
      font-size: 10px;
      color: rgb(5, 48, 33);
    }
  }
}
// end End
