*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
  
button {
  border: 1px solid rgb(174, 0, 255);
  border-radius: 1px;
  color: rgb(174, 0, 255);
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 3px;
}

button:hover {
  background:  rgb(174, 0, 255);
  color: white;
}

h2 {
  color: rgb(174, 0, 255);
  font-size: 48px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;

    >ul {
      margin-top: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      >li {
        >a {
          padding: 8px 10px;
        }
      }
    }
  }  
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;

  >img {
    width: 100%;
    max-width: 300px;
  }
}

.team {
  width: 100vw;

  >.members {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
}
.pricing {
  padding: 20px;
  >.tables {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 769px) {
  .team {
    >.members {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      justify-content: center;
      grid-gap: 20px;
    }
  }

  .pricing {
    >.tables {
       display: grid;
       grid-template-columns: repeat(3, 300px);
      justify-content: center;
      grid-gap: 20px;
    }
  }
}

nav {
  width: 100%;
  background: #920a0a;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;

  >img {
    height: 57px;
    filter: drop-shadow(2px 2px 2px white);
  }

  >ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;

    >li {
      >a {
        text-decoration: none;
        color: aliceblue;
        line-height: 41px;
        display: block;
        padding: 8px 20px;
      }

      &:hover {
        background: rgb(255, 0, 174);
      }
    }
  }
}

.hero {
  padding: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 20px auto;

  >img {
    width: 300px;
  }

  >div {
    flex-grow: 1;

    >p {
      max-width: 600px;
      margin-bottom: 20px;
    }
  }
}

.team {
  overflow-x: hidden;

  >h2 {
    text-align: center;
  }

  >.members {
    width: 100vw;
    padding: 20px 100px;

    >div {
      border: 1px solid #000;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 6px 6px 6px #000;

      >h3 {
        color: #00f;
        font-size: 24px;
      }

      >img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid #000;
        padding: 8px;
      }

      >p {
        color: #777;
        margin: 10px 0;
      }

      >button {
        transform: scale(0.8);
      }
    }
  }
}

.pricing {
  padding: 100px;
  >h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  >.tables {
    >div {
      border: 1px solid #000;
      padding: 20px;
      border-radius: 8px;
      text-align: center;

      >h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      >p {
        color: #777;
        margin-bottom: 20px;
      }

      >button {
        background: #00f;
        color: white;
        transform: scale(0.8);
      }
    }
  }
}
footer {
  background: #750707;
  color: white;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
