@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    color: #73eeee;
    line-height: 26px;
}

// Header
.header {
    background: rgb(177, 240, 95);
    color: #fefbfb;
    padding: 13px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);


}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}


.logo img {
    height: 50px;
    width: auto;
    display: block;
    margin: auto;
}

.navbar ul {
    display: flex;
    list-style: none;

    li {
        margin-left: 20px;

        a {
            color: #0b0b0b;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            padding: 6px 10px;
            border-radius: 6px;
            transition: color 0.3s, background 0.3s, transform 0.2s;



            &:hover {
                background: #fff;
                color: #2c7a7b;
                transform: scale(115%);
            }
        }
    }
}



// Hero Section

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;


    .hero-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1;
        filter: brightness(60%);
        opacity: 0.8;
    }

    .hero-content {
        position: relative;
        z-index: 2;
        color: #fff;
        max-width: 600px;
        padding: 32px;

        h2 {
            font-size: 40px;
            margin-bottom: 17px;
            text-shadow: 5px 5px 5px black;
        }


        p {
            font-size: 15px;
            margin-bottom: 24px;
        }

        button {
            background: #5cea15;
            color: #121212;
            border: none;
            padding: 26px 24px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1rem;
            transition: color 0.3s, background 0.3s, transform 0.2s;
            box-shadow: 4px 4px 4px black;


            &:hover {
                background: #33a5ec;
                transform: scale(120%);

            }
        }
    }

}


// about

.about {
    padding: 64px 0;
    background: #bde06d;

    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
            width: 600px;
            border-radius: 10px;
        }

        .about-text {
            max-width: 500px;

            h2 {
                color: #060606;
                margin-bottom: 16px;
                font-size: 36px;
                font-weight: 700;
                text-shadow: #040404 3px 3px 3px;
            }

            p {
                color: #090909;
                line-height: 26px;
            }
        }
    }
}


// Our team


.team {
    padding: 64px 0;
    background: #9db27b;
    text-align: center;
    position: relative;

    .container {
        position: relative;
        width: 90%;
        margin: auto;
    }

    .section-title {
        position: absolute;
        left: 50%;
        top: 12px;
        transform: translateX(-50%);
        z-index: 3;
        color: #0d0e0e;
        font-size: 36px;
        font-weight: 700;
        padding: 10px 20px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
        line-height:   -80px; ;
    }

    .team-members {
        margin: 70px auto 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        .member {
            text-align: center;
            background: #caded9;
            padding: 20px;
            border-radius: 10px;
            width: 220px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-8px);
            }

            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            h3 {
                color: #0b0b0b;
                font-size: 20px;
                margin-bottom: 5px;
            }

            p {
                color: #555;
                font-size: 14px;
            }
        }
    }
}


// contact
.contact {
    background: #ccf8b7;
    padding: 80px 0;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        gap: 32px;
    }

    .contact-info {
        flex: 1 1 400px;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);


        h2 {
            color: #2c7a7b;
            margin-bottom: 20px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input,
            textarea {
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 15px;
                outline: none;
                transition: border-color 0.3s;


                &:focus {
                    border-color: #191a1a;
                }
            }


            button {
                background: #2c7a7b;
                color: #fff;
                border: none;
                padding: 12px;
                font-size: 16px;
                border-radius: 6px;
                cursor: pointer;
                transition: background 0.3s;


                &:hover {
                    background: #0d0d0d;

                }
            }
        }
    }

    .map {
        flex: 1 1 400px;
        min-height: 400px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
        // object-fit: cover;
    }
}