.ten{
    display: flex;
    margin-top: 200px;
    
    
}
.image{
    
    margin-left: 300px;
}
.button{
    
}
.text{
    
    width: 500px;
    margin-left: 100px;
    font-size: 20px;
    
    
}
.image {
    
    
}
.button 1{
    background-color: aqua;
}
    
    
}