*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}
body{
    background-image: url("../bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        
        >ul{
            margin-top: 10px;
            flex-direction:column ;
            flex-wrap: wrap;justify-content: center;

            >li{
                >a{
                    padding: 8px 10px;
                }
            }
        }
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;max-width: 100vw;
        overflow: hidden;

        >img{
            width: 100%;
            max-width: 300px;
        }
    }


    .team{
        width: 100vw;

        .members{
            max-width: 100vw;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 20px;
        }
    }
}
@media (min-width: 769px) {
    .team{
        >.members{
            display: grid;
            grid-template-columns: repeat(3,300px);
            justify-content: center;
            grid-gap:20px;
        }
    }

}
nav{ width: 100%;
    background: #080808;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;


    >img{
        height: 55px;
        filter: drop-shadow(4px 4px 4px gray);
    }
    >ul{
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        
        >li{
            >a{
                text-decoration: none;
                color: rgb(3, 62, 85);
                line-height: 20px;
                display: block;
                padding: 10px 25px;
                
            }
            &:hover{
                background: #3f66c2;
            }
        }
    }
}
.our{
    margin: 10px;
    text-align: center;
}
.hero{
    padding: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: max-content;
    box-shadow: 6px 6px 6px #000;
    margin: 20px auto;
    color: #054ab3;
    background: gray;
    border-radius: 8px;

    >img{
        width: 300px;
    }
    >div{
        flex-grow: 1;
        >p{
            max-width: 500px;
            margin-bottom: 30px;
        }
    }
}
.office{

   overflow-x: hidden;

   

   >div{ 
     background: #ccc ;
     border: 1px solid black;
     padding: 20px;
     border-radius: 8px;
     text-align: center;
     box-shadow: 6px 6px 6px #000;
     margin: 100px;

     >img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
   }

     >h2{
    text-align: center;
   }
   >p{
    color: rgb(20, 134, 205);
    margin: 10px 0;
   }
    >button{
        transform: scale(0.8);
    }
   }

}
.team{
    overflow-x: hidden;

    >h2{
        text-align: center;
    }
    >.members{
        width: 100vw;
        padding: 20px 100px;

        >div{
            background: #326386;
            border: 1px solid #000;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 5px 5px 5px#000 ;
            margin: 20px;
            display: grid;

            >h3{
                color: rgb(191, 0, 255);
            }

            >img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border:1px solid #000;
                padding: 8px;
            }
            >p{
                color: rgb(12, 180, 192);
                margin: 10px 0;
            }
            >button{
                transform: scale(0.8);
            }
        }
    }
}
button{
    border: 1px solid rgb(13, 14, 13);
    border-radius: 8px;
    color: rgb(10, 154, 244);
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 3px;
}
button:hover{
    background: rgb(134, 7, 202);
    color: white;
}
h2{
    color: rgb(22, 192, 101);
    font-size: 45px;
    margin-bottom: 0;
}
footer{
    background: #0494b1;
    color: white;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}