*{padding: 0;
margin: 0;
box-sizing: border-box;
 }

 @keyframes sliding {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
   
  100% {background-color: green;}
}

 body{
    width:1370px;
    
    margin:0 auto;
    background-color:gray;
 }

navigation{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    gap:200px;
    

}

#nav-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 100px;
}

#nav-flex > button{ margin:0 auto ;
border-radius:10px;
text-decoration:none;
font-weight:bold;}
 button a{text-decoration:none;
background-color:none;}
img{width: 40px;
height: 28px;
border-radius:10%;
margin-top:3px

}

ul {display: flex;

}
li{list-style: none;
    color:white;
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
    margin-right:40px;

}

 li:hover a{background-color:#fff}

/* start main ------------------------------------------ */
main{
    background-image: url(images/2nd-top.jpg); 
 opacity:.8;
  height: 690px; 
  background-position: center;  
  background-repeat: no-repeat, repeat; 
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.50);
      display:block:
    justify-content:center;
    align-items:center;
    text-align:center;
}

.tittle{
justify-content:center:
text-align:center;
margin: 200px;
position:absolute;
 
}

.tittle h1{
    font-size:70px;
    color:#FF00FF;

}

#main-button{width:165px;
    border-radius:5px;
    animation: sliding 2s linear 2s infinite alternate;
    cursor:pointer;
}
/* end main ------------------------------------------ */







container{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.hero-pic{
    width: 860px;
    height: 500px;
    border-radius: 5px;
}

.details{
    text-align: center;
    background-color: rgb(240, 240, 228);
    border-radius: 12px;
    border: 1px solid gray;
    width: 600px;
}

h1{color:#FF00FF;
font-weight: 900;
margin-bottom: 12px;}

p{color: #af71afff;
margin:17px;
font-size:17px;
font-weight:bold;

}
button{
    background-color: coral;
    width: 110px;
    height: 32px;
margin-top: 70px;
}
button:hover{background-color: burlywood;}



h1{color:#FF00FF;
    font-size:36px;
    font-weight:600px;
    text-align:center;
    margin:50px 0 0 0;

}



/* start card--------------------------------- */
.cards{

display:block;
text-align:center;
padding:5px;
background-color:rgb(240, 240, 228);
border:1px solid gray;
border-radius:10px;

}
.cards img{width:320px;
height:220px;

}

section{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    
}
section botton { background-color: coral;
    width: 210px;
    height: 32px;
margin-top: 70px;}



footer{
    background-color:black;
    height:155px;
    align-items:center;
    text-align:center;
    display:block;
    gap:100px;
    justify-content:center;
    padding:20px;
}
.last {display:flex;
justify-content:center;
 align-items:center;
    text-align:center;
}
footer ul{display:flex;gap:52px;color :yellow; margin-bottom:16px}