*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-bottom: 2px solid black;

    img{
        width: 120px;
    }


    ul{
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;


        li{
            text-decoration: none;
            color: rgb(0, 0, 0);
            line-height: 41px;
            display: block;
            padding: 8px 20px;
        }
    }
}

.hero{
    padding: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 20px auto;

    >div>button{
        width: 120px;
        height: 50px;
        box-shadow: 0px 0px 10px red;
        font-size: 20px;
        border-radius: 40px;
    }

    >img{
        width: 500px;
    }


    >div{
        flex-grow: 1;

        >p{
            max-width: 600px;
            margin-bottom: 20px;
        }
    }
}

.man{
    padding: 100px;

    >h2{
        text-align: center;
        margin-bottom: 20px;
    }

    >div{
        display: flex;
        justify-content: center;
        gap: 45px;

        >img{
            height: 200px;
        }
    }
}


.main{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
    
    padding: 20px;
}



.pic1{
    width: 650px;
    height: 650px;
    justify-content: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto;
    padding-left: 13px;
    box-shadow: 0px 0px 10px red;
    border-radius: 30px;
}

.img{
    width: 320px;
    height:300px;
}
.pic2{
    width: 650px;
    height: 650px;
    justify-content: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto;
    padding-left: 13px;
    box-shadow: 0px 0px 10px red;
    border-radius: 30px;
}

.pic3{
    width: 650px;
    height: 650px;
    justify-content: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto;
    padding-left: 13px;
    box-shadow: 0px 0px 10px red;
    border-radius: 30px;
}

.pic1>button{
    width: 120px;
        height: 50px;
        box-shadow: 0px 0px 10px rgb(210, 3, 252);
        font-size: 20px;
        border-radius: 40px;
}

.pic2>button{
    width: 120px;
        height: 50px;
        box-shadow: 0px 0px 10px rgb(247, 6, 203);
        font-size: 20px;
        border-radius: 40px;
}

.pic3>button{
    width: 120px;
        height: 50px;
        box-shadow: 0px 0px 10px rgb(240, 5, 225);
        font-size: 20px;
        border-radius: 40px;
}

.contact{
    >h2{
        text-align: center;
        margin-bottom: 20px;
    }

    >p{
        width: max-content;
        margin: 0 auto 20px auto;
    }
}

footer{
    background: black;
    color: aliceblue;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}